<footer class="footer">
	<p>北京链家房地产经纪有限公司</p>
	<p>Copyright©2014 All rights Reserved</p>
</footer>
<script src="../dep/esl.min.js"></script>
<script src="../dep/jquery/jquery.min.js"></script>
<script src="../dep/bootstrap/js/bootstrap.min.js"></script>
<script src="../dep/support/underscore.js"></script>
<script src="../dep/support/backbone.js"></script>
<script src="../asset/js/common/common.js"></script>
<script type="text/javascript">

require.config({
	baseUrl: "http://dongyajie.lianjia.com:8011/sms/asset/js",
	paths: {
		'echarts' : '../../dep/echarts-1.4.1/build/echarts',
		'echarts/chart/bar' : '../../dep/echarts-1.4.1/build/echarts',
		'echarts/chart/line' : '../../dep/echarts-1.4.1/build/echarts',
		'echarts/chart/pie' : '../../dep/echarts-1.4.1/build/echarts',
		'common': 'common/common'
	},
	urlArgs:  "v=1"
});
// 基础服务
require(["sms/smscommon"],function(){
	$.listener.trigger("commmReady");
})
</script>