<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>链家网-sms系统</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../asset/css/common.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="../dep/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">

<!--[if lt IE 9]>
 <script type="text/javascript" src="../dep/support/html5.js"></script>
 <script src="../dep/support/respond.min.js"></script>
<![endif]-->
